[submodule "lib/uuid4"]
	path = lib/uuid4
	url = https://github.com/drfh/uuid4.git
	branch = master
[submodule "libpeers"]
	path = lib/libpeers
	url = git@github.com:drfh/libpeers.git
	branch = master
